# Analyzing Thanksgiving Dinner - Data Analysis With Pandas - Intermediate
Using the pandas package to analyze what Americans eat for Thanksgiving dinner
* Exploring data in pandas
* Converting column types for friendlier analysis
* How to answer questions from the data

## 1. Introducing Thanksgiving Dinner Data

In this project, you'll be working with Jupyter notebook, and analyzing data on Thanksgiving dinner in the US. By the end, you'll have a notebook that you can add to your portfolio or build on top of on your own. The dataset came from [FiveThirtyEight](http://fivethirtyeight.com/), and can be found [here](https://github.com/fivethirtyeight/data/tree/master/thanksgiving-2015).

The dataset is stored in the thanksgiving.csv file. It contains 1058 responses to an online survey about what Americans eat for Thanksgiving dinner. Each survey respondent was asked questions about what they typically eat for Thanksgiving, along with some demographic questions, like their gender, income, and location. This dataset will allow us to discover regional and income-based patterns in what Americans eat for Thanksgiving dinner.

The dataset has 65 columns, and 1058 rows. Most of the column names are questions, and most of the column values are string responses to the questions. Most of the columns are categorical, as a survey respondent had to select one of a few options. For example, one of the first column names is What is typically the main dish at your Thanksgiving dinner?. The potential responses are:

* Turkey
* Other (please specify)
* Ham/Pork
* Tofurkey
* Chicken
* Roast beef
* I don't know
* Turducken

Most of the columns follow the same question/response format as the above. There are also quite a few NaN values in the columns, which occurred when a survey respondent didn't fill out a question because they didn't want to, or it didn't apply to them.

Here are the first few rows of the dataset:

![](pics/thanksgiving_data.png)

We won't enumerate every single column now, but here are descriptions of some of the most important:

* RespondentID -- a unique ID of the respondent to the survey.
* Do you celebrate Thanksgiving? -- a Yes/No reponse to the question.
* How would you describe where you live? -- responses are Suburban, Urban, and Rural.
* Age -- resposes are one of several categories, such as 18-29, and 30-44.
* How much total combined money did all members of your HOUSEHOLD earn last year? -- one of several categories, such as $75,000 to $99,999.

In this project, we'll explore the data, and try to find interesting patterns. Our first step is to read in and display the data.

### Instructions

* Import the [pandas](http://pandas.pydata.org/) package.
* Use the [pandas.read_csv()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) function to read the thanksgiving.csv file in.
* Make sure to specify the keyword argument encoding="Latin-1", as the CSV file isn't encoded normally.
* Assign the result to the variable data.
* Display the first few rows of data to see what the columns and rows look like.
* In a separate notebook cell, display all of the column names to get a sense of what the data consists of.
    * You can use the [pandas.DataFrame.columns](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) property to display the column names.

In [1]:
import pandas as pd
data = pd.read_csv('data/thanksgiving.csv', encoding="Latin-1")
data.head()

,RespondentID,Do you celebrate Thanksgiving?,What is typically the main dish at your Thanksgiving dinner?,What is typically the main dish at your Thanksgiving dinner? - Other (please specify),How is the main dish typically cooked?,How is the main dish typically cooked? - Other (please specify),What kind of stuffing/dressing do you typically have?,What kind of stuffing/dressing do you typically have? - Other (please specify),What type of cranberry saucedo you typically have?,What type of cranberry saucedo you typically have? - Other (please specify),...,Have you ever tried to meet up with hometown friends on Thanksgiving night?,"Have you ever attended a ""Friendsgiving?""",Will you shop any Black Friday sales on Thanksgiving Day?,Do you work in retail?,Will you employer make you work on Black Friday?,How would you describe where you live?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region
0,4337954960,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,None,NaN,...,Yes,No,No,No,NaN,Suburban,18 - 29,Male,"$75,000 to $99,999",Middle Atlantic
1,4337951949,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Other (please specify),Homemade cranberry gelatin ring,...,No,No,Yes,No,NaN,Rural,18 - 29,Female,"$50,000 to $74,999",East South Central
2,4337935621,Yes,Turkey,NaN,Roasted,NaN,Rice-based,NaN,Homemade,NaN,...,Yes,Yes,Yes,No,NaN,Suburban,18 - 29,Male,"$0 to $9,999",Mountain
3,4337933040,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Homemade,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$200,000 and up",Pacific
4,4337931983,Yes,Tofurkey,NaN,Baked,NaN,Bread-based,NaN,Canned,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$100,000 to $124,999",Pacific

In [2]:
data.columns

Index(['RespondentID', 'Do you celebrate Thanksgiving?',
       'What is typically the main dish at your Thanksgiving dinner?',
       'What is typically the main dish at your Thanksgiving dinner? - Other (please specify)',
       'How is the main dish typically cooked?',
       'How is the main dish typically cooked? - Other (please specify)',
       'What kind of stuffing/dressing do you typically have?',
       'What kind of stuffing/dressing do you typically have? - Other (please specify)',
       'What type of cranberry saucedo you typically have?',
       'What type of cranberry saucedo you typically have? - Other (please specify)',
       'Do you typically have gravy?',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Brussel sprouts',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Carrots',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Cauliflower',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Corn',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Cornbread',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Fruit salad',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Green beans/green bean casserole',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Macaroni and cheese',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Mashed potatoes',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Rolls/biscuits',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Squash',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Vegetable salad',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Yams/sweet potato casserole',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Other (please specify)',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Other (please specify).1',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Buttermilk',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Cherry',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Chocolate',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Coconut cream',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Key lime',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Peach',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Sweet Potato',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - None',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Other (please specify)',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Other (please specify).1',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Apple cobbler',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Blondies',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Brownies',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Carrot cake',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Cheesecake',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Cookies',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Fudge',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Ice cream',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Peach cobbler',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - None',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Other (please specify)',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Other (please specify).1',
       'Do you typically pray before or after the Thanksgiving meal?',
       'How far will you travel for Thanksgiving?',
       'Will you watch any of the following programs on Thanksgiving? Please select all that apply. - Macy's Parade',
       'What's the age cutoff at your "kids' table" at Thanksgiving?',
       'Have you ever tried to meet up with hometown friends on Thanksgiving night?',
       'Have you ever attended a "Friendsgiving?"',
       'Will you shop any Black Friday sales on Thanksgiving Day?',
       'Do you work in retail?',
       'Will you employer make you work on Black Friday?',
       'How would you describe where you live?', 'Age', 'What is your gender?',
       'How much total combined money did all members of your HOUSEHOLD earn last year?',
       'US Region'],
      dtype='object')

## 2. Filtering Out Rows From A DataFrame

Because we want to understand what people ate for Thanksgiving, we'll remove any responses from people who don't celebrate it. The column Do you celebrate Thanksgiving? contains this information. We only want to keep data for people who answered Yes to this questions.

### Instructions

* Use the [pandas.Series.value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) method to display counts of how many times each category occurs in the Do you celebrate Thanksgiving? column.
* Filter out any rows in data where the response to Do you celebrate Thanksgiving? is not Yes. At the end, all of the values in the Do you celebrate Thanksgiving? column of data should be Yes.

In [3]:
# Count the unique answers
value_counts = data['Do you celebrate Thanksgiving?'].value_counts()
value_counts

Yes    980
No      78
Name: Do you celebrate Thanksgiving?, dtype: int64

In [ ]:
# Get the rows with answer 'Yes'
celebrate_yes = data[data['Do you celebrate Thanksgiving?'] == 'Yes']

## 3. Using value_counts To Explore Main Dishes

Let's explore what main dishes people tend to eat during Thanksgiving dinner. We can again use the value_counts method to help us with this.

### Instructions

* Use the [pandas.Series.value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) method to display counts of how many times each category occurs in the What is typically the main dish at your Thanksgiving dinner? column.
* Display the Do you typically have gravy? column for any rows from data where the What is typically the main dish at your Thanksgiving dinner? column equals Tofurkey.
    * Create a filter that only selects rows from data where What is typically the main dish at your Thanksgiving dinner? equals Tofurkey.
    * Select the Do you typically have gravy? column, and display it.

In [5]:
# Count the unique answers
value_counts = data['What is typically the main dish at your Thanksgiving dinner?'].value_counts()
value_counts

Turkey                    859
Other (please specify)     35
Ham/Pork                   29
Tofurkey                   20
Chicken                    12
Roast beef                 11
I don't know                5
Turducken                   3
Name: What is typically the main dish at your Thanksgiving dinner?, dtype: int64

In [6]:
# The result shows the index where tofurkey is true and gravy is yes or no
data[data["What is typically the main dish at your Thanksgiving dinner?"] == "Tofurkey"]["Do you typically have gravy?"]

4      Yes
33     Yes
69      No
72      No
77     Yes
145    Yes
175    Yes
218     No
243    Yes
275     No
393    Yes
399    Yes
571    Yes
594    Yes
628     No
774     No
820     No
837    Yes
860     No
953    Yes
Name: Do you typically have gravy?, dtype: object

## 4. Figuring Out What Pies People Eat

Now that we've looked into the main dishes, let's explore the dessert dishes. Specifically, we'll look at how many people eat Apple, Pecan, or Pumpkin pie during Thanksgiving dinner. This data is encoded in the following three columns:

* Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple
* Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin
* Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan

In all three columns, the value is either the name of the pie if the person eats it for Thanksgiving dinner, or null otherwise.

We can find out how many people eat one of these three pies for Thanksgiving dinner by figuring out for how many people all three columns are null.

You may recall from an earlier mission that the [pandas.isnull()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.isnull.html) function will return a Boolean Series indicating whether or not each value in a specified DataFrame or Series is null.

We can also use the & operator to combine two Boolean Series into a single one. If both Series contain True in a position, the result will be True. Otherwise, the result will be False. Here's an example:

![](pics/thanksgiving_pies.png)

If we use the pandas.isnull() function to check where all three columns are null, then use the & operator to join all of the Series, we'll end up with a single Boolean Series. Where that Series contains False, the person ate at least one of the types of pies for Thanksgiving dinner. Where it contains True, they ate none of the types of pies.

### Instructions

* Generate a Boolean Series indicating where the Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple column is null. Assign to the apple_isnull variable.
* Generate a Boolean Series indicating where the Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin column is null. Assign to the pumpkin_isnull variable.
* Generate a Boolean Series indicating where the Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan column is null. Assign to the pecan_isnull variable.
* Join all three Series using the & operator, and assign the result to ate_pies.
* Display the unique values and how many times each occurs in the ate_pies column.

In [7]:
apple_isnull = pd.isnull(data['Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple'])
pumpkin_isnull = pd.isnull(data['Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin'])
pecan_isnull = pd.isnull(data['Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan'])
ate_pies = apple_isnull & pumpkin_isnull & pecan_isnull
ate_pies.value_counts()

False    876
True     182
dtype: int64

## 5. Converting Age To Numeric

Let's analyze the Age column in more depth. In order to analyze the Age column, we'll first need to convert it to numeric values. This will make it simple to figure out things like the average age of survey respondents. The Age column contains values that fall into one of a few categories:

* 18 - 29
* 30 - 44
* 45 - 59
* 60+
* null

Because we're missing the exact age value, we won't be able to extract an exact integer value, and we'll instead have to extract the first age value in the strings given.

We can do this by splitting each value on the space character (), then taking the first item in the resulting list. We'll also have to replace the + character to account for 60+, which follows a different format than the rest.

### Instructions

* Write a function to convert a single string to an appropriate integer value. This will allow us to convert the values in the Age column to integers.
    * Use the isnull() function to check if the value is null. If it is, return None.
    * Split the string on the space character (), and extract the first item of the resulting list.
    * Replace the + character in the result with an empty string to remove it.
    * Use int() to convert the result to an integer.
    * Return the result.
* Use the [pandas.Series.apply()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.apply.html) method to apply the function to each value in the Age column of data.
    * Assign the result to the int_age column of data.
* Call the [pandas.Series.describe()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.describe.html) method on the int_age column of data, and display the result.
* In a separate markdown cell, write up your findings.
    * Is there anything that we should be aware of about the results or our methodology?
    * Is this a true depiction of the ages of survey participants?

In [8]:
age_data = data['Age']
age_data.head(20)

0     18 - 29
1     18 - 29
2     18 - 29
3     30 - 44
4     30 - 44
5     18 - 29
6     18 - 29
7     18 - 29
8     30 - 44
9     30 - 44
10    30 - 44
11    30 - 44
12    18 - 29
13    18 - 29
14        60+
15    30 - 44
16    30 - 44
17    18 - 29
18    30 - 44
19    30 - 44
Name: Age, dtype: object

In [9]:
age_data.value_counts()

45 - 59    286
60+        264
30 - 44    259
18 - 29    216
Name: Age, dtype: int64

In [10]:
def extract_age(age_str):
    if pd.isnull(age_str):
        return None
    age_str = age_str.split(" ")[0]
    age_str = age_str.replace("+", "")
    return int(age_str)

data["int_age"] = data["Age"].apply(extract_age)
data["int_age"].describe()

count    1025.000000
mean       39.383415
std        15.398493
min        18.000000
25%        30.000000
50%        45.000000
75%        60.000000
max        60.000000
Name: int_age, dtype: float64

In [11]:
data["int_age"].head()

0    18.0
1    18.0
2    18.0
3    30.0
4    30.0
Name: int_age, dtype: float64

### Findings

Although we only have a rough approximation of age, and it skews downward because we took the first value in each string (the lower bound), we can see that that age groups of respondents are fairly evenly distributed.

## 6. Converting Income To Numeric

The How much total combined money did all members of your HOUSEHOLD earn last year? column is very similar to the Age column. It contains categories, but can be converted to numerical values. Here are the unique values in the column:

* Prefer not to answer
* \$0 to \$9,999
* \$10,000 to \$24,999
* \$25,000 to \$49,999
* \$50,000 to \$74,999
* \$75,000 to \$99,999
* \$100,000 to \$124,999
* \$125,000 to \$149,999
* \$150,000 to \$174,999
* \$175,000 to \$199,999
* \$200,000 and up
* null

We can convert these values to numeric by again splitting on the space character (). We'll then have to account for the string Prefer. Finally, we'll be able to replace the dollar sign character \$ and the comma ,, and return the result.

### Instructions

* Write a function to convert a single string to an appropriate integer income value.
    * Use the isnull() function to check if the value is null. If it is, return None.
    * Split the string on the space character (), and extract the first item of the resulting list.
    * If the result equals Prefer, return None.
    * Replace the \$ and , characters in the result with empty strings to remove them.
    * Use int() to convert the result to an integer.
    * Return the result.
* Use the [pandas.Series.apply()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.apply.html) method to apply the function to each value in the How much total combined money did all members of your HOUSEHOLD earn last year? column of data.
    * Assign the result to the int_income column of data.
* Call the [pandas.Series.describe()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.describe.html) method on the int_income column of data, and display the result.
* In a separate markdown cell, write up your findings.
    * Is there anything that we should be aware of about the results or our methodology?
    * Is this a true depiction of the incomes of survey participants?

In [12]:
income_data = data['How much total combined money did all members of your HOUSEHOLD earn last year?']
income_data.head()

0      $75,000 to $99,999
1      $50,000 to $74,999
2            $0 to $9,999
3         $200,000 and up
4    $100,000 to $124,999
Name: How much total combined money did all members of your HOUSEHOLD earn last year?, dtype: object

In [13]:
income_data.value_counts()

$25,000 to $49,999      180
Prefer not to answer    136
$50,000 to $74,999      135
$75,000 to $99,999      133
$100,000 to $124,999    111
$200,000 and up          80
$10,000 to $24,999       68
$0 to $9,999             66
$125,000 to $149,999     49
$150,000 to $174,999     40
$175,000 to $199,999     27
Name: How much total combined money did all members of your HOUSEHOLD earn last year?, dtype: int64

In [14]:
def extract_income(income_str):
    if pd.isnull(income_str):
        return None
    income_str = income_str.split(" ")[0]
    if income_str == 'Prefer':
        return None
    income_str = income_str.replace("$", "")
    income_str = income_str.replace(",", "")
    return int(income_str)

data['int_income'] = data['How much total combined money did all members of your HOUSEHOLD earn last year?'].apply(extract_income)
data['int_income'].describe()

count       889.000000
mean      74077.615298
std       59360.742902
min           0.000000
25%       25000.000000
50%       50000.000000
75%      100000.000000
max      200000.000000
Name: int_income, dtype: float64

In [15]:
data['int_income'].head()

0     75000.0
1     50000.0
2         0.0
3    200000.0
4    100000.0
Name: int_income, dtype: float64

### Findings

Although we only have a rough approximation of income, and it skews downward because we took the first value in each string (the lower bound), the average income seems to be fairly high, although there is also a large standard deviation.

## 7. Correlating Travel Distance And Income

We can now see how the distance someone travels for Thanksgiving dinner relates to their income level. It's safe to hypothesize that people earning less money could be younger, and would travel to their parent's houses for Thanksgiving. People earning more are more likely to have Thanksgiving at their house as a result.

We can test this by filtering data based on int_income, and seeing what the values in the How far will you travel for Thanksgiving? column are.

### Instructions

* See how far people earning under 150000 will travel.
    * Filter data, and only select rows where int_income is less than 150000.
    * Use indexing to select the How far will you travel for Thanksgiving? column.
    * Use the value_counts() method to count up how many times each value occurs in the column.
    * Display the results.
* See how far people earning over 150000 will travel.
    * Filter data, and only select rows where int_income is greater than 150000.
    * Use indexing to select the How far will you travel for Thanksgiving? column.
    * Use the value_counts() method to count up how many times each value occurs in the column.
    * Display the results
* Write up your findings in a markdown cell.

In [16]:
earning_less = data[data['int_income'] < 150000]['How far will you travel for Thanksgiving?']
earning_less.head()

0    Thanksgiving is local--it will take place in t...
1    Thanksgiving is out of town but not too far--i...
2    Thanksgiving is local--it will take place in t...
4    Thanksgiving is out of town but not too far--i...
5    Thanksgiving is happening at my home--I won't ...
Name: How far will you travel for Thanksgiving?, dtype: object

In [17]:
earning_less.value_counts()

Thanksgiving is happening at my home--I won't travel at all                         281
Thanksgiving is local--it will take place in the town I live in                     203
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    150
Thanksgiving is out of town and far away--I have to drive several hours or fly       55
Name: How far will you travel for Thanksgiving?, dtype: int64

In [18]:
data[data['int_income'] > 150000]['How far will you travel for Thanksgiving?'].value_counts()

Thanksgiving is happening at my home--I won't travel at all                         49
Thanksgiving is local--it will take place in the town I live in                     25
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    16
Thanksgiving is out of town and far away--I have to drive several hours or fly      12
Name: How far will you travel for Thanksgiving?, dtype: int64

### Findings

People with an income of more than 150.000 travel obviously less then people with less income.

## 8. Linking Friendship And Age

There are two columns which directly pertain to friendship, Have you ever tried to meet up with hometown friends on Thanksgiving night?, and Have you ever attended a "Friendsgiving?. In the US, a "Friendsgiving" is when instead of traveling home for the holiday, you celebrate it with friends who live in your area. Both questions seem skewed towards younger people. Let's see if this hypothesis holds up.

In order to see the average ages of people who have done both, we can use a pivot table. As you may recall from an earlier mission, we can generate a pivot table with the [pandas.DataFrame.pivot_table()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.pivot_table.html) method. By calling this method on data, and passing in the right keyword arguments, we can generate a table showing the average ages of people who answered Yes to both questions, answered Yes to one question, and so on.

### Instructions

* Generate a pivot table showing the average age of respondents for each category of Have you ever tried to meet up with hometown friends on Thanksgiving night? and Have you ever attended a "Friendsgiving?.
    * Call the pivot_table() method on data.
    * Pass in "Have you ever tried to meet up with hometown friends on Thanksgiving night?" to the index keyword argument.
    * Pass in 'Have you ever attended a "Friendsgiving?"' to the columns keyword argument.
    * Pass in "int_age" to the values keyword argument.
    * Display the results.
* Generate a pivot table showing the average income of respondents for each category of Have you ever tried to meet up with hometown friends on Thanksgiving night? and Have you ever attended a "Friendsgiving?.
* Write up a markdown cell with your findings.

In [19]:
data.pivot_table(values="int_age", 
                 index="Have you ever tried to meet up with hometown friends on Thanksgiving night?", 
                 columns='Have you ever attended a "Friendsgiving?"'
                )

Have you ever attended a "Friendsgiving?"                  No        Yes
Have you ever tried to meet up with hometown fr...
No                                                  42.283702  37.010526
Yes                                                 41.475410  33.976744

In [20]:
data.pivot_table(values="int_income", 
                 index="Have you ever tried to meet up with hometown friends on Thanksgiving night?", 
                 columns='Have you ever attended a "Friendsgiving?"',
                )

Have you ever attended a "Friendsgiving?"                     No           Yes
Have you ever tried to meet up with hometown fr...
No                                                  78914.549654  72894.736842
Yes                                                 78750.000000  66019.736842

### Findings

It appears that people who are younger are more likely to attend a Friendsgiving, and try to meet up with friends on Thanksgiving.

## 9. Next Steps

That's it for the guided steps! We recommend exploring the data more on your own.

Here are some potential next steps:

* Figure out the most common dessert people eat.
* Figure out the most common complete meal people eat.
* Identify how many people work on Thanksgiving.
* Find regional patterns in the dinner menus.
* Find age, gender, and income based patterns in dinner menus.

We recommend creating a Github repository and placing this project there. It will help other people, including employers, see your work. As you start to put multiple projects on Github, you'll have the beginnings of a strong portfolio. You're welcome to keep working on the project here, but we recommend downloading it to your computer using the download icon above and working on it there.